.hero {
  margin: 130px 0 0 0;
}

.hero-container {
  height: 100%;
}

.hero-text {
  z-index: 0;
  width: 40%;
  position: relative;
  border: 2px solid var(--secondary);
  padding: 0 30px;
  margin: 30px 0;
}

.hero-text h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 50px;
  letter-spacing: 4px;
  margin: 0;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--secondary);
}

.hero-text h2 {
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--secondary);
}

.hero-link {
  text-decoration: none;
  position: relative;
  z-index: 1;
  border: 2px solid var(--secondary);
  text-transform: uppercase;
  font-family: 'IBM Plex Serif', sans-serif;
  letter-spacing: 2px;
  bottom: -15px;
  font-size: 18px;
  padding: 4px 6px;
  background-color: var(--secondary);
  color: var(--white);
}

.border-text {
  font-weight: 500;
  text-transform: uppercase;
  z-index: 1;
  font-size: 18px;
  letter-spacing: 2px;
  color: var(--secondary);
}

.banner-quote {
  margin-top: 20px;
  text-align: end;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--secondary);
}

.quote-text {
  font-style: italic;
  font-size: 18px;
}

.quote-author {
  font-size: 14px;
}

.doctors--header {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 50px;
  letter-spacing: 4px;
  color: var(--secondary);
  text-align: center;
}

@media screen and (max-width: 599px) {
  .hero {
    margin: 56px 0 0 0;
  }

  .hero-text {
    width: 100%;
  }

  .hero-text h1 {
    font-size: 26px;
  }

  .hero-text h2 {
    font-size: 16px;
  }

  .quote-text {
    font-style: italic;
    font-size: 14px;
  }

  .quote-author {
    font-size: 12px;
  }

  .hero-link {
    font-size: 14px;
    bottom: -11px;
  }

  .doctors--header {
    font-size: 26px;
  }
}


