.stepper-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 599px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px dashed var(--gray);
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--white);
  color: var(--gray);
  border: 2px solid var(--gray);
  margin-bottom: 6px;
}

.stepper-item.completed {
  color: var(--primary);
  font-weight: 600;
}

.stepper-item.completed .step-counter {
  background-color: var(--primary);
  color: var(--white);
  border: 2px solid var(--primary);
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid var(--primary);
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item.completed:last-child::after {
  content: none;
}

.stepper-item:first-child::before {
  content: none;
}
