.statistics {
  margin-top: 130px;
}

.statistics-header {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 32px;
  letter-spacing: 4px;
  color: var(--secondary);
  text-align: center;
}

.list {
  background-color: var(--background);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list-item {
  color: var(--indigo);
  font-size: 14px;
  margin-bottom: 12px;
  border-left: 3px solid var(--primary);
  padding-left: 10px;
}

.statistics-description p {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  color: var(--indigo);
  margin-bottom: 20px;
}

.strong {
  color: var(--secondary);
}

.statistics-description {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 599px) {
  .statistics {
    margin-top: 56px;
  }
}