.header {
  background-color: var(--secondary);
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--white);
  box-sizing: border-box;
}

.header-logo {
  display: flex;
  align-items: center;
}

.project-name {
  font-size: 24px;
  font-weight: 600;
}

.project-name.green {
  color: var(--tertiary);
}

.header-text {
  color: var(--tertiary);
  font-style: italic;
}

.registration {
  background-color: var(--background);
  padding: 12px;
}

.registration-heading {
  background-color: var(--border);
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.registration-col {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--border);
}

.registration-field {
  font-weight: 600;
  font-size: 16px;
  color: var(--indigo);
}

.registration-data {
  font-size: 16px;
  font-style: italic;
}
