#map {
  width: 100%;
  border-radius: 6px;
}

.contacts--heading {
  margin: 15px 0 0 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--vt-c-indigo);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px var(--vt-c-indigo);
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

.contacts--cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}