#map {
  width: 100%;
  border-radius: 6px;
}

.container {
  margin-top: 136px;
}

.contacts--heading {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 50px;
  letter-spacing: 4px;
  color: var(--secondary);
  padding: 0 24px;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

.contacts--cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  justify-items: center;

  @media screen and (max-width: 464px) {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }
}

@media screen and (max-width: 599px) {
  .container {
    margin-top: 56px;
  }

  .contacts--heading {
    font-size: 26px;
  }
}