.login--preview {
  display: flex;
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.login--form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--vt-c-indigo);
}

.login-btn {
  width: 100%;
  margin-top: 20px;
}

