.header-container {
  background-color: var(--secondary);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 14px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  margin-right: 10px;
}

.project-name {
  font-size: 24px;
  font-weight: 600;
}

.project-name.green {
  color: var(--tertiary);
}

.header-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-column {
  display: flex;
  flex-direction: column;
}

.column-name.green {
  color: var(--tertiary);
}

.phone {
  font-weight: 500;
  font-size: 18px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 1025px) {
  .hidden {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .header-logo {
    margin-bottom: 10px;
  }
}
