.column-name {
  font-size: 14px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.v-row > * {
  display: flex;
  align-items: center;
}

.header-column {
  display: flex;
  flex-direction: column;
}

.header-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.project-name {
  font-size: 28px;
  font-weight: 700;
}

.black {
  color: var(--vt-c-black);
}

.green {
  color: var(--vt-c-green);
}

.phone {
  font-weight: 500;
  font-size: 18px;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 15px;
}

@media (max-width: 1100px) {
  .hidden {
    display: none;
  }
}

@media (max-width: 500px) {
  .header-row {
    display: none;
  }

  .header-container {
    justify-content: center;
  }
}

.header-navigation {
  width: 100%;
  background-color: var(--vt-c-green);
}

.header-navigation-list {
  list-style-type: none;
  padding: 0 15px;
}

.header-navigation-item {
  display: inline-block;
  text-transform: uppercase;
}

.header-link {
  color: var(--vt-c-white);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  display: block;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.header-link:before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  content: " ";
  height: 3px;
  background-color: var(--vt-c-white);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.header-link:hover:before {
  transform: scaleX(1);
}

.guest-name {
  font-size: 18px;
  font-weight: 500;
  color: var(--vt-c-guest);
}