:root {
  --primary: #279eff;
  --primary-soft: #e6f4ff;
  --secondary: #0c356a;
  --secondary-60: rgba(12, 53, 106, 0.6);
  --tertiary: #40f8ff;
  --quaternary: #d5ffd0;
  --white: #ffffff;
  --indigo: #2c3e50;
  --black: #070707;
  --border: #e0e0e0;
  --background: #f4f4f4;
  --important: #d50f0f;
  --gray: #777777;
}

