.contactCard {
  width: 400px;

  @media screen and (max-width: 464px) {
    width: 256px;
  }
}

.contactCard--header {
  background-color: var(--secondary);
  color: var(--tertiary);
}

.contactCard--data {
  display: flex;
  flex-direction: column;
  padding: 12px;
  color: var(--indigo);
}

.contactCard--data-name {
  font-weight: 600;
  color: var(--secondary);
}

.contactCard--phone {
  font-size: 14px;
  margin-left: 10px;
  color: var(--indigo);
  text-decoration: none;
}