.contactCard {
  width: 330px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.contactCard--header {
  padding: 8px 16px;
  background-color: var(--gray);
  color: var(--primary);
}

.contactCard--data {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 4px 16px;
  font-size: 16px;
}

.contactCard--data-name {
  font-weight: 600;
}