.link {
  color: var(--secondary);
  text-decoration: none;
  padding: 4px 6px;
  margin: 0 4px;
}

.heading {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--secondary);
}

.heading2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--secondary);
}

.description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
  color: var(--indigo);
}

.column {
  border: 1px solid var(--border);
  padding: 10px;
  margin: 10px;
  min-height: 100%;
  border-radius: 4px;
  background-color: var(--quaternary);
  box-shadow: 0 4px 8px 0 var(--secondary-60);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-header {
  font-size: 18px;
  text-align: center;
  color: var(--secondary);
}

.card {
  background-color: var(--secondary);
  color: var(--tertiary);
  box-shadow: 0 4px 8px 0 var(--secondary-60);
  padding: 15px 10px;
  margin: 5px;
  cursor: move;
  border-radius: 4px;
}

@media screen and (max-width: 599px) {
  .heading {
    font-size: 18px;
  }

  .heading2 {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
  }
}
