.link {
  color: var(--secondary);
  text-decoration: none;
  padding: 4px 6px;
  margin: 0 4px;
}

.heading {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--secondary);
}

.description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
  color: var(--indigo);
}

@media screen and (max-width: 599px) {
  .heading {
    font-size: 18px;
  }

  .description {
    font-size: 12px;
  }
}

.column {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  min-height: 200px;
}

.column-header {
  font-size: 18px;
  text-align: center;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
  cursor: move;
}